

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">{{title}}</a>
</header>

<div class="container-fluid">
  <div class="row">
    <main class="ms-sm-auto">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 style="font-size:30vw" >{{registros[0].sgv}} {{gettendencia(registros[0].direction)}}

        {{getconsejo(registros[0].sgv)}} </h1>

      </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h2 style="font-size:10vw">{{consejo.dosis}} {{consejo.tipo}}</h2>
      </div>

      <div class="row g-3 align-items-center justify-content-between border-bottom">

        <div class="col-auto">
          <input type="number" class="form-control" id="hidratos" [(ngModel)]="hidratos" min="0" max="1000">
        </div>
        <div class="col-auto">
          <label for="hidratos" >Hidratos</label>
        </div>


        <div class="col-auto">
          <button type="button" class="btn btn-primary" (click)="enviarTratamiento(registros[0].dateString)">Registrar Insulina-Hidratos</button>
        </div>

      </div>
      <div class="card">
        <div class="card-body">
      {{generarGrafico()}}
      <chart [type]="type" [data]="data" [options]="options"></chart>
        </div>
      </div>

      <p class="blockquote text-center"><small>Use la aplicación bajo su propia responsabilidad </small></p>

      <p></p>

        {{getvals()}}

    </main>
  </div>
</div>




